.wrapper
  .current-user_name 
    = "#{@user.name}さんのマイページ"
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  = link_to "商品登録", new_user_sell_path(@user.id)
  .item_entry
    .sells
      - @sells.each do |sell|
        .sell
          = link_to "/users/#{sell.user_id}/sells/#{sell.id}" do
            = image_tag sell.image.url, class: 'lower-message__image', size: "100x100"
            = sell.name
            = "#{sell.price}円"