.wrapper
  %h1
    出品する
  = form_for @sell, url: "/users/#{@sell.user_id}/sells", method: "post" do |f|

    = f.text_field :name, placeholder: '商品名', autocomplete: "off"

    = f.text_field :price, placeholder: '金額', autocomplete: "off"

    = f.file_field :image
    = f.hidden_field :image_cache
    
    = f.submit '出品'